[Unit]
Description=Tomcat Server
After=network.target
[Service]
Type=forking
User=#Tomcat_User
Group=#Tomcat_Group
Environment="JAVA_HOME=#JAVA_HOME_DIR"
Environment="CATALINA_HOME=#TOMCAT_HOME_DIR"
ExecStart="TOMCAT_HOME_DIR/bin/startup.sh"
ExecStop=#TOMCAT_HOME_DIR/bin/shutdown.sh"
Restart=always
[Install]
WantedBy=multi-user.target